@model DPDShippingModel

@using Nop.Plugin.Shipping.DPD.Domain
@using Nop.Plugin.Shipping.DPD.Models

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="DPDShipping" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ClientNumber" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClientNumber" />
                        <span asp-validation-for="ClientNumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ClientKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClientKey" />
                        <span asp-validation-for="ClientKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddressCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddressCode" />
                        <span asp-validation-for="AddressCode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CargoRegistered" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CargoRegistered" />
                        <span asp-validation-for="CargoRegistered"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AvailableServiceVariantTypes" />
                    </div>
                    <div class="col-md-9" id="dileviryTypes">
                        @for (int i = 0; i < Model.AvailableServiceVariantTypes.Count; i++)
                        {
                            <div class="checkbox">
                                <label id="label-@i">
                                    <input style="margin-top:10px" type="checkbox" name="ServiceVariantTypes" value="@(Model.AvailableServiceVariantTypes[i].Text)" id="checkbox-@i" checked="@(Model.AvailableServiceVariantTypes[i].Selected)" />
                                    <span style="font-size:21px">@T("Enums.Nop.Plugin.Shipping.DPD.ServiceVariantType." + Model.AvailableServiceVariantTypes[i].Text.ToUpper())</span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ServiceCodeTypes" />
                    </div>
                    <div class="col-md-9" id="dileviryTypes">
                        @for (int i = 0; i < Model.AvailableServiceCodeTypes.Count; i++)
                        {
                            <div class="checkbox">
                                <label id="label-@i">
                                    <input style="margin-top:10px" type="checkbox" name="ServiceCodeTypes" value="@(Model.AvailableServiceCodeTypes[i].Text)" id="checkbox-@i" checked="@(Model.AvailableServiceCodeTypes[i].Selected)" />
                                    <span style="font-size:21px">@(Model.AvailableServiceCodeTypes[i].Text)</span>
                                </label>
                            </div>

                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>